.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4vh;
    width: 100%;
}

.steps > * {
    flex: 1;
}

.instruction-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}


.step-content {
    width: 100%;
}

h2 {
    font-size: 38px;
    font-family: var(--mono);
    font-weight: bold;
    padding: 20px;
}

.circle-icon {
    border: 2px solid #e74c3c;
    border-radius: 50%;
    padding: 10px;
    display: inline-flex;
    color: #e74c3c;
}

.step-content{
    font-family: var(--mono);
}