.topnav {
    border-bottom: 1px solid var(--border);
}

.logo {
    float: left;
    img {
        margin-top: 3%;
        width: 200px;
        height: 50px;
    }
}

.login-btn {
    float: right;
    padding: 20px;
    font-family: var(--mono);

    &:hover {
        color: var(--accent);
        cursor: pointer;
    }
}

.username {
    float: right;
    padding: 15px;
}