.topnav {
    border-bottom: 1px solid var(--border);
}

.logo {
    float: left;
    img {
        margin: 3% 0 3% 0;
        width: 200px;
        height: 50px;
    }
}

.right-topnav {
    display: flex;
    float: right;
    font-family: var(--mono);
}

/* .login-btn {
    float: right;
    padding: 20px;
    font-family: var(--mono);

    &:hover {
        color: var(--accent);
        cursor: pointer;
    }
} */

.username {
    float: right;
    padding: 15px;
}
